##### LOCAWEB - NAO REMOVER #####
AddHandler php80-script .php
suPHP_ConfigPath /home/villaggioalumini1/
##### LOCAWEB - NAO REMOVER #####

RewriteEngine On
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1 [L,QSA]

