@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:wght@100&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&display=swap);
body {
  font-family: "Montserrat", sans-serif;
}

.white {
  top: -2px !important;
  left: -29px;
}

.white nav a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30px;
  padding-bottom: 0;
  padding-top: 0;
}

.subnav {
  width: 40%;
  padding-bottom: 20px;
}

.no-section-image .subnav {
  border-bottom: 1px solid #202020;
}
.no-section-image .subnav a {
  color: #202020;
}
.no-section-image .subnav a span {
  color: #202020;
}

.social-icons-subnav span {
  font-weight: 400;
  letter-spacing: 0;
}

.social-icons-subnav span:hover {
  color: #fff;
  font-weight: 700;
}

.white nav ul li {
  position: relative;
  overflow: hidden;
}

.white nav ul {
  line-height: 35px;
}

.white a::before {
  content: "";
  color: #fff;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
}

.white li a:before {
  content: "";
  position: absolute;
  z-index: -2;
  left: 20px;
  right: 100%;
  bottom: 4%;
  background: #fff; /*** COLOR OF THE LINE ***/
  border-bottom: thin solid #fff !important;
  height: 0px; /*** THICKNESS OF THE LINE ***/
  transition-property: right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.white li a:hover {
  opacity: 1 !important;
  color: #fff !important;
}

.white li a.actived {
  color: white !important;
}

.white li a:hover:before {
  right: 0;
  max-width: 22px !important;
}

.white li li a:before {
  bottom: 10%;
}

img.white {
  display: none;
}

img.black {
  display: block !important;
}

.no-section-image .white li a, .no-section-image .white li a:hover, .no-section-image .white li a.actived {
  color: black;
}
.no-section-image .white li a:before {
  background: black;
  border-bottom: thin solid black !important;
}
.no-section-image .sticky .white li a, .no-section-image .sticky .white li a:hover, .no-section-image .sticky .white li a.actived {
  color: white;
}
.no-section-image .sticky .white li a:before {
  background: white;
  border-bottom: thin solid white !important;
}
.no-section-image .sticky img.white {
  display: none;
}
.no-section-image .sticky img.black {
  display: block;
}

#overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.83), 13%, rgba(0, 0, 0, 0));
  opacity: 0.75;
  position: absolute;
  z-index: 22;
}
#overlay.bottom {
  background: linear-gradient(rgba(0, 0, 0, 0.83), 11%, rgba(0, 0, 0, 0), 70%, rgb(0, 0, 0));
}

.navbar-brand.white img {
  max-height: 30px !important;
  transition: all 0.5s ease-in-out;
}

.sticky .navbar-brand.white img {
  max-height: 25px !important;
}
.sticky img.white {
  display: block;
}
.sticky img.black {
  display: none !important;
}

#about-us {
  background-color: #f8f8f8;
  color: black;
}
#about-us h3 {
  text-transform: uppercase;
  font-weight: 300;
}
#about-us h3:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin-top: 10px;
}
#about-us .count-about {
  display: inline-block;
  margin: 25px 40px 0 0;
  text-align: center;
}
#about-us .count-about span.detail {
  font-size: 11pt;
  color: #a94442;
  font-weight: 400;
  letter-spacing: 1pt;
  text-transform: uppercase;
}
#about-us .icone-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
#about-us .icone-play:hover {
  opacity: 1;
}

.features a {
  border: 1px solid white;
}
.features:hover a {
  background: white;
  color: #000000;
  border: 1px solid white;
}
.features .bg-img .overlay {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #030303;
  /* margin-top: 10px; */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}
.features .heading {
  position: relative;
  z-index: 99;
  font-weight: 300;
  color: white;
}
.features .heading:after {
  content: "";
  display: block;
  width: 17%;
  height: 1px;
  background-color: #fff;
  margin-top: 10px;
  margin: 12px auto;
}
.features .content {
  position: relative;
  z-index: 99;
}

#call-action {
  text-align: right;
  color: black;
  background-color: #f8f8f8;
  background: #f8f8f8;
}
#call-action .p-180 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
}
@media (min-width: 1380px) {
  #call-action .p-180 {
    padding-left: 12%;
    padding-right: 12%;
  }
}
@media (min-width: 1700px) {
  #call-action .p-180 {
    padding-left: 20%;
    padding-right: 20%;
  }
}
#call-action .full {
  width: 100%;
  padding-left: 20%;
  font-weight: 300;
}
#call-action .bg-img-3-img::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: -17px;
  right: -15px;
  border: 1px solid rgb(20, 20, 20);
}

#call-button .goldpage-choc {
  background: black;
}
#call-button h3 {
  color: white;
  font-weight: 300;
  letter-spacing: -1px;
  font-size: 3rem;
}
#call-button .btn-content {
  border: 1px solid white;
}
#call-button:hover .btn-content {
  background: white;
  color: #000000;
  border: 1px solid white;
}
#call-button:hover a {
  color: #000000;
}

.goldpage-choc .btn-content {
  border: 1px solid white;
}
.goldpage-choc:hover .btn-content {
  background: white;
  color: #000000;
  border: 1px solid white;
}
.goldpage-choc:hover a {
  color: #000000;
}
.goldpage-choc h3:after {
  content: "";
  display: block;
  width: 20%;
  height: 1px;
  background-color: #fff;
  margin-top: 10px;
}

.gal-home .hovereffect .overlay {
  border-color: #fff;
}

.gal-home .hovereffect .overlay .devider {
  border-top: 1px solid #fff;
}

.gal-home .hovereffect:hover .overlay .devider {
  border-top: 1px solid #fff;
}

#totop {
  border: 1px solid #fff;
  background-color: transparent;
}
#totop span {
  color: #fff;
}
#totop:hover {
  background-color: #fff;
}
#totop:hover span {
  color: white;
}

.white nav ul ul li a:hover {
  background-color: #fff;
  color: #000 !important;
}

footer img {
  max-width: 150px;
}

.mainpreloader span {
  border-top: 3px solid #fff;
}

.tparrows {
  display: none;
}

.botaoPortifolio {
  width: 60px;
  height: 60px;
  padding-top: 4px;
  color: white;
  position: fixed;
  top: 50%;
  z-index: 10000;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
  margin-left: 70px;
}
.botaoPortifolio .house {
  filter: invert(100%) sepia(0%) saturate(7462%) hue-rotate(348deg) brightness(118%) contrast(104%) drop-shadow(2px 4px 6px black);
}
.botaoPortifolio:hover {
  opacity: 1;
}
.botaoPortifolio .close {
  display: none;
  filter: invert(100%) sepia(0%) saturate(7462%) hue-rotate(348deg) brightness(118%) contrast(104%);
}
.botaoPortifolio.active {
  padding: 3px;
}
.botaoPortifolio.active .house {
  display: none;
}
.botaoPortifolio.active .close {
  display: block;
  opacity: 1;
}

#portfolioDiv {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10000;
  background-image: linear-gradient(#000, rgba(30, 30, 30, 0.9), rgba(30, 30, 30, 0.9));
  display: none;
}
#portfolioDiv .logo {
  text-align: center;
  opacity: 0;
  margin-top: -40px;
}
#portfolioDiv .logo img {
  max-width: 200px;
}
#portfolioDiv .portfolioMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 20px;
  color: white;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 170px;
  padding-right: 20px;
  position: relative;
  z-index: 10000;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#portfolioDiv .portfolioMenu ul:hover {
  opacity: 1;
}
#portfolioDiv .portfolioMenu ul li {
  margin-left: -100px;
  opacity: 0;
}
#portfolioDiv .portfolioMenu ul a:hover {
  color: #fff;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.white nav ul ul {
  display: none;
  position: fixed;
  top: 40px;
  color: #efefef;
}
.white nav ul ul li {
  width: 160pxr;
}
.white nav ul ul li a {
  line-height: 40px;
}

@media (min-width: 1200px) {
  .box div::before {
    display: block;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    content: attr(data-hover);
    transform: translate3d(0, 0, 0);
  }
  .no-section-image .box div::before {
    color: black;
  }
  .no-section-image .sticky .box div::before {
    color: white;
  }
  .box div {
    position: relative;
    display: block;
    transition: all 0.3s ease-in-out;
  }
  .box:hover div {
    transform: translateY(-100%);
    cursor: pointer;
  }
  .white nav ul {
    line-height: 70px;
  }
}
.video {
  position: fixed;
  height: 100vh;
  opacity: 1;
}

.video__caption {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.video__fold {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.video__element {
  display: block;
  position: absolute;
  z-index: 0;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fullwidthbanner-container {
  height: 100vh;
}

header.choc.show {
  height: 50px;
  background: rgb(255, 255, 255) !important;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
header.choc.show #menu-center a {
  color: rgb(0, 0, 0);
}

footer.choc {
  background: #ffffff;
  color: #0c0c0c;
  font-size: 11pt;
  letter-spacing: 0.5px;
  font-weight: 500;
  padding: 60px 0 60px 0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

@media (min-width: 1000px) {
  .modal-lg {
    width: 70%;
  }
}
.goldpage-choc {
  background-color: rgb(20, 20, 20);
}

.bg-preloader-white {
  background-color: rgb(20, 20, 20);
}

.image-header {
  width: 100vw;
  height: 100vh;
  position: fixed;
}
.image-header img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.image-header h3 {
  color: white;
  z-index: 999;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 4em !important;
  text-align: center;
  position: relative;
  margin-top: -91px;
}

.list-no-padding {
  padding-left: 20px;
}

#call-action.page-internal {
  text-align: justify;
}

.p-200 {
  padding-left: 26%;
  padding-right: 26%;
}

.sobre-empresa h2 {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 3em;
}
.sobre-empresa h2 em {
  font-style: italic;
  font-weight: 700;
}
.sobre-empresa h4 {
  font-family: "Montserrat";
  font-size: 2em;
  font-weight: 600;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}
.grid .grid-item {
  flex: 1 0 33%;
  border: 10px solid white;
  padding: 10px;
  height: 300px;
  margin-bottom: -5px;
  cursor: pointer;
}
.grid .grid-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
}
.grid .grid-item:hover img {
  filter: grayscale(0%);
}
.grid.grid-empresa .grid-item {
  flex: 1 0 25%;
  padding: 2px;
  margin-bottom: 0px;
  border: none;
}

#modalImagem {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999999;
}
#modalImagem img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#modalImagem .modal-content {
  border: none;
}
#modalImagem .modal-body {
  padding: 0;
}
#modalImagem .modal-dialog {
  max-width: 100%;
  margin: 0;
}
#modalImagem .modal-header {
  display: none;
}

.timeline .years {
  display: flex;
  padding: 0 25%;
  height: 100px;
  color: #888888;
}
.timeline .years li {
  flex: 1;
  font-family: "Montserrat", serif;
  list-style: none;
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  border-bottom: 1px solid #888888;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.timeline .years li.active {
  border-bottom: 2px solid #000;
  font-weight: 700;
  font-size: 2.5em;
  color: rgb(20, 20, 20);
}
.timeline .year {
  color: #888888;
  text-align: right;
  padding: 0 25%;
  margin-top: 61px;
}
.timeline .year .content {
  width: 100%;
  height: 250px;
  position: static;
  right: transfor;
  /* max-width: 275px; */
  /* min-height: 200px; */
  /* top: 33px; */
  margin-top: 55px;
  right: calc(50% - 68px);
  background: #fff;
  box-shadow: 0 0 20px 12px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0 0 20px 12px rgba(0, 0, 0, 0.04);
  padding: 20px;
}
.timeline .year .content .title {
  left: -100px;
  bottom: auto;
  top: 33px;
  transform-origin: initial;
  letter-spacing: 1px;
  position: absolute;
  left: 9%;
  bottom: -5px;
  width: 250px;
  transform: rotate(-90deg);
  transform-origin: left;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
}
.timeline .year .content .title::after {
  content: "";
  width: 60px;
  height: 1px;
  background: #888888;
  margin-left: 20px;
}
.timeline .year .content .text {
  font-size: 2rem;
  text-align: center;
  display: block;
  margin-top: 31px;
}
.timeline .year .image {
  width: 50%;
  display: inline-block;
}
.timeline .year .image img {
  width: 100%;
}

.produtos .grid-item {
  padding: 0;
  overflow: hidden;
  position: relative;
}
.produtos .grid-item img {
  transition: all 0.3s ease-in-out;
  transform: scale(1.2);
  filter: grayscale(0%);
}
.produtos .grid-item .legenda {
  position: absolute;
  padding: 30px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0) !important;
  transition: all 0.3s cubic-bezier(0.05, 0.8, 0.5, 1);
  transform: translateY(110%);
  background: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
.produtos .grid-item .legenda p {
  text-transform: uppercase;
  font-weight: 400;
}
.produtos .grid-item:hover img {
  transform: scale(1);
}
.produtos .grid-item:hover .legenda {
  transform: translateY(0);
}

footer {
  text-align: left;
}
footer .txtBig {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
footer .socialContainer {
  margin: 15px 0 0 -10px;
}
footer .socialContainer a {
  position: relative;
  display: inline-block;
  height: 14px;
  margin: 0 6px;
  cursor: pointer;
}
footer .socialContainer a svg {
  height: 14px;
}
footer #footerLine {
  height: 76px;
  padding: 35px 0 40px;
  clear: both;
}
footer #footerLine .line {
  width: 102px;
  height: 1px;
  background: dimgray;
}
footer #navFooterContainer {
  display: inline-block;
  margin-bottom: 30px;
}
footer .navFooter {
  font-size: 8pt;
  text-transform: uppercase;
  font-weight: 400;
  float: left;
}
footer .navFooter li:first-child {
  padding-left: 0;
  margin-left: 0;
  border-left: none;
}
footer .navFooter li {
  padding-left: 10px;
  margin-left: 10px;
  border-left: #8d8d8d 1px solid;
  float: left;
  line-height: 10px;
}
footer .navFooter li a {
  position: relative;
  display: block;
  padding: 0px;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}
footer .navFooter li a:hover {
  color: #000;
  background-color: none;
  background: none;
}
footer .spacer40 {
  height: 40px;
  width: 100%;
  content: " ";
  display: table;
  clear: both;
}
footer .address p {
  font-size: 9pt;
  font-weight: 400;
}

.detalhes-produto {
  font-size: unset !important;
}
.detalhes-produto .logo {
  text-align: center;
  margin-top: 20px;
}
.detalhes-produto .logo img {
  max-width: 200px;
  margin: 0 auto;
}

footer .position-relative {
  position: relative;
}
footer .logo-container {
  position: absolute;
  right: 0;
  bottom: 0;
}

.bg-dots {
  width: 400px;
}

.white-bg {
  background-color: white !important;
}

.imagem-produtos-container {
  width: 100%;
}
.imagem-produtos-container .img-item {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 650px;
}
.imagem-produtos-container .owl-controls {
  margin-top: -30px;
}
.imagem-produtos-container .owl-controls .active span {
  opacity: 0.9 !important;
  border: thin solid black;
  background-color: transparent;
}
.imagem-produtos-container .owl-controls .owl-page span {
  width: 8px;
  height: 8px;
}
.imagem-produtos-container .owl-controls .owl-page:hover span {
  opacity: 0.9 !important;
  border: thin solid black;
  background-color: transparent;
}

.mr-3 {
  margin-right: 1rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.prod-title {
  padding-bottom: 0px;
}
.prod-title h2 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 2.5em;
}
.prod-title h4 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.5em;
  margin-top: 70px;
}

.pb-40 {
  padding-bottom: 40px;
}

.p-relative {
  position: relative;
}
